absl-py==2.0.0
accelerate==1.1.0
aiohttp==3.8.6
aiosignal==1.3.1
albucore==0.0.21
albumentations==1.4.23
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyascii==0.3.2
anyio==3.7.0
anykeystore==0.2
apache-beam==2.51.0
apex @ file:///work/projects/eclarson/protein_diffusion/gmongaras_diffusion_models/Triton_Kernels/apex
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asap3==3.13.1
ase==3.22.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==25.1.0
audioread==3.0.0
axial-positional-embedding==0.2.1
Babel==2.12.1
bangla==0.0.2
beautifulsoup4==4.12.2
best-download==0.0.9
bitsandbytes==0.45.0
bleach==6.1.0
blessed==1.20.0
blinker==1.6.2
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.1
boltons @ file:///croot/boltons_1677628692245/work
braceexpand==0.1.7
brotlipy==0.7.0
cachetools==5.3.1
certifi==2025.1.31
cffi @ file:///croot/cffi_1670423208954/work
charset-normalizer==3.4.1
clean-fid==0.1.35
click==8.1.3
clip-anytorch==2.5.2
cloudpickle==3.1.0
cmake==3.26.4
colorama==0.4.6
coloredlogs==15.0.1
CoLT5-attention==0.10.20
comm==0.2.2
conda @ file:///home/conda/feedstock_root/build_artifacts/conda_1685035123102/work
conda-content-trust @ file:///tmp/abs_5952f1c8-355c-4855-ad2e-538535021ba5h26t22e5/croots/recipe/conda-content-trust_1658126371814/work
conda-package-handling @ file:///croot/conda-package-handling_1685024767917/work
conda_package_streaming @ file:///croot/conda-package-streaming_1685019673878/work
contextlib2==21.6.0
contourpy==1.1.0
coqpit==0.0.17
cppimport==22.8.2
cramjam==2.9.1
crcmod==1.7
croniter==1.3.15
cryptacular==1.6.2
cryptography @ file:///croot/cryptography_1686613057838/work
cupy==13.0.0
custom-op==0.0.0
cut-cross-entropy @ git+https://github.com/apple/ml-cross-entropy.git@1f3ebdb20653a26598a2722acd21e9b1528608c3
cycler==0.11.0
Cython==3.0.11
dask==2024.12.1
dask-expr==1.1.21
data==0.4
dataclasses==0.6
DataProperty==1.0.1
datasets==2.16.0
dateparser==1.1.8
dateutils==0.6.12
debugpy==1.8.5
decorator==5.1.1
deepdiff==6.3.0
deepspeed @ git+https://github.com/EleutherAI/DeeperSpeed.git@eb7f5cff36678625d23db8a8fe78b4a93e5d2c75
defusedxml==0.7.1
diffusers==0.30.3
dill==0.3.7
dnspython==2.4.2
docker-pycreds==0.4.0
docopt==0.6.2
einops==0.7.0
encodec @ git+https://git@github.com/facebookresearch/encodec@0e2d0aed29362c8e8f52494baf3e6f99056b214f
entmax==1.3
eval_type_backport==0.2.0
exceptiongroup==1.1.1
executing==2.1.0
ExifRead-nocycle==3.0.1
falcontune==0.1.0
fastapi==0.88.0
FastAttention2==0.0.0
fastavro==1.9.0
fasteners==0.19
fastjsonschema==2.20.0
fastparquet==2024.11.0
fastrlock==0.8.2
filelock==3.13.1
fire==0.5.0
flash-attn==2.6.3
Flask==2.3.2
flatbuffers==23.5.26
fonttools==4.40.0
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2024.6.1
ftfy==6.1.1
funcsigs==1.0.2
fused-kernels==0.0.1
future==1.0.0
g2pkk==0.1.2
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.20.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==3.0.0
grpcio==1.54.2
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-de==2.0.0
gruut-lang-en==2.0.0
gruut-lang-es==2.0.0
gruut-lang-fr==2.0.2
h11==0.14.0
h5py==3.8.0
hdfs==2.7.3
hjson==3.1.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.2
huggingface-hub==0.29.1
humanfriendly==10.0
hupper==1.12
idna==3.10
ijson==3.2.3
imageio==2.31.1
img2dataset==1.45.0
importlib_metadata==8.5.0
inflect==5.6.0
iniconfig==2.0.0
inquirer==3.1.3
ipykernel==6.29.5
ipython==8.27.0
isoduration==20.11.0
itsdangerous==2.1.2
jamo==0.4.1
jax==0.4.12
jedi==0.19.1
jieba==0.42.1
Jinja2==3.1.4
joblib==1.3.2
Js2Py==0.74
json5==0.9.25
jsonargparse==4.21.2
jsonlines==4.0.0
jsonmerge==1.9.2
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonpointer==2.1
jsonschema==4.18.4
jsonschema-specifications==2023.7.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
k-diffusion==0.0.15
keras==2.12.0
kiwisolver==1.4.4
kornia==0.6.12
latex==0.7.0
lazy_loader==0.3
libclang==16.0.0
libmambapy @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1686908938932/work/libmambapy
librosa==0.10.0
lightning==2.0.3
lightning-attn==0.0.5
lightning-cloud==0.5.36
lightning-utilities==0.8.0
linear-attention-transformer==0.19.1
linformer==0.2.3
linformer-pytorch==0.19.3
lit==16.0.6
llava @ git+https://github.com/LLaVA-VL/LLaVA-NeXT.git@79ef45a6d8b89b92d7a8525f077c3a3a9894a87d
llvmlite==0.40.1
local-attention==1.9.1
locket==1.0.0
lz4==4.3.2
Mako==1.3.8
mamba @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1686908938932/work/mamba
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.1
matplotlib-inline==0.1.7
mbstrdecoder==1.1.3
mdurl==0.1.2
mecab-python3==1.0.6
mistune==3.0.2
ml-collections==0.1.1
ml-dtypes==0.2.0
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
multiprocess==0.70.15
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
ninja==1.11.1
nltk==3.8.1
notebook_shim==0.2.4
num2words==0.5.12
numba==0.57.0
numexpr==2.8.7
numpy==1.26.0
nvidia-cublas-cu11==11.11.3.6
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==9.1.0.70
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.3.0.86
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.5.86
nvidia-cusparse-cu12==12.1.0.106
nvidia-modelopt==0.21.1
nvidia-nccl-cu11==2.21.5
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu11==11.8.86
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
objsize==0.6.1
omegaconf==2.3.0
onnx==1.17.0
onnx-graphsurgeon==0.5.2
onnxconverter-common==1.14.0
onnxmltools==1.13.0
onnxruntime-gpu==1.18.1
open-clip-torch==2.20.0
openai==0.28.1
opencv-python-headless==4.10.0.84
opt-einsum==3.3.0
optimum==1.24.0
ordered-set==4.1.0
orjson==3.9.10
overrides==7.7.0
packaging==24.2
pandas==2.1.1
pandocfilters==1.5.1
parquet==1.3.1
parso==0.8.4
partd==1.4.2
PasteDeploy==3.0.1
pathtools==0.1.2
pathvalidate==3.2.0
patsy==1.0.1
pbkdf2==1.3
peft==0.14.0
pexpect==4.9.0
pillow==11.0.0
plaster==1.1.2
plaster-pastedeploy==1.0.1
platformdirs==3.9.1
pluggy==1.5.0
ply==3.11
pooch==1.7.0
portalocker==2.8.2
primePy==1.3
product-key-memory==0.2.10
prometheus_client==0.20.0
prompt_toolkit==3.0.47
proto-plus==1.22.3
protobuf==3.20.2
psutil==5.9.5
ptyprocess==0.7.0
PuLP==2.9.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
py4j==0.10.9.7
pyarrow==18.1.0
pyarrow-hotfix==0.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybind11==2.11.1
pycosat @ file:///croot/pycosat_1666805502580/work
pycountry==22.3.5
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome==3.18.0
pydantic==2.10.3
pydantic_core==2.27.1
pydot==1.4.2
pyg-lib==0.3.1+pt21cu118
Pygments==2.15.1
pyjsparser==2.7.1
PyJWT==2.7.0
pymongo==4.6.0
pynndescent==0.5.10
pyOpenSSL @ file:///croot/pyopenssl_1677607685877/work
pyparsing==3.1.0
pypinyin==0.49.0
pyramid==2.0.2
pyramid-mailer==0.15.1
pysbd==0.3.4
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
pyspark==3.5.4
pytablewriter==1.2.0
pytest==8.3.5
python-crfsuite==0.9.9
python-dateutil==2.8.2
python-editor==1.0.4
python-json-logger==2.0.7
python-multipart==0.0.6
python3-openid==3.2.0
pytorch-fid==0.3.0
pytorch-lightning==2.0.3
pytorch-triton==2.1.0+440fd1bf20
pytorch-warmup==0.1.1
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0.2
pyzmq==26.2.0
quant-cuda==0.0.0
rdkit==2023.9.4
readchar==4.0.5
referencing==0.30.0
regex==2024.11.6
rehash==1.0.1
repoze.sendmail==4.4.1
requests==2.32.3
requests-oauthlib==1.3.1
resampy==0.4.2
resize-right==0.0.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.4.2
rouge-score==0.1.2
rpds-py==0.9.2
rsa==4.9
ruamel.yaml @ file:///croot/ruamel.yaml_1666304550667/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1666302247304/work
sacrebleu==1.5.0
safetensors==0.5.2
SciencePlots==2.1.1
scikit-image==0.21.0
scikit-learn==1.3.1
scipy==1.15.2
seaborn==0.12.2
Send2Trash==1.8.3
sentencepiece==0.1.99
sentry-sdk==2.19.2
setproctitle==1.3.2
shortuuid==1.0.11
shutilwhich==1.1.0
SigmoidKernel==0.0.0
simsimd==6.2.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.0
sniffio==1.3.0
soundfile==0.12.1
soupsieve==2.4.1
soxr==0.3.5
speechcolab==0.0.6a0
SpeechRecognition==3.10.0
SQLAlchemy==2.0.22
sqlitedict==2.1.0
stack-data==0.6.3
starlette==0.22.0
starsessions==1.3.0
statsmodels==0.14.4
stringzilla==3.11.1
sympy==1.13.1
tabledata==1.3.3
tabulate==0.9.0
tcolorpy==0.1.4
tempdir==0.7.1
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorboardX==1.8
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
tensorrt==10.7.0
tensorrt-cu11==10.3.0
tensorrt-cu11-bindings==10.3.0
tensorrt-cu11-libs==10.3.0
tensorrt-cu12==10.7.0
tensorrt-cu12-bindings==10.7.0
tensorrt-cu12-libs==10.7.0
termcolor==2.3.0
terminado==0.18.1
threadpoolctl==3.2.0
thriftpy2==0.5.2
tifffile==2023.7.18
tiktoken==0.5.1
timm==0.9.5
tinycss2==1.3.0
tokenizers==0.21.0
tomesd==0.1.3
tomli==2.0.1
toolz @ file:///croot/toolz_1667464077321/work
torch==2.6.0+cu118
torch-cluster==1.6.3+pt21cu118
torch-pitch-shift==1.2.4
torch-scatter==2.1.2+pt21cu118
torch-sparse==0.6.18+pt21cu118
torch-spline-conv==1.2.2+pt21cu118
torch_geometric==2.4.0
torch_tensorrt==2.5.0+cu118
torchaudio==2.6.0+cu118
torchdiffeq==0.2.3
torchmetrics==0.11.4
torchprofile==0.0.4
torchsde==0.2.5
torchvision==0.21.0+cu118
tornado==6.4.1
tqdm==4.67.1
tqdm-multiprocess==0.0.11
trainer==0.0.29
traitlets==5.14.3
trampoline==0.1.2
transaction==3.1.0
transformers==4.49.0
translationstring==1.4
triton==3.2.0
triton-nightly==3.0.0.post20240716052845
TTS==0.15.6
typepy==1.3.2
typing_extensions==4.12.2
tzdata==2023.3
tzlocal==5.0.1
umap-learn==0.5.1
unidic-lite==1.0.8
uri-template==1.3.0
urllib3==2.3.0
uvicorn==0.22.0
velruse==1.1.1
venusian==3.0.0
wandb==0.19.8
wcwidth==0.2.6
webcolors==24.8.0
webdataset==0.2.100
webencodings==0.5.1
WebOb==1.8.7
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==2.3.6
wrapt==1.14.1
WTForms==3.1.0
wtforms-recaptcha==0.3.2
xformers==0.0.29.post3
xxhash==3.4.1
yarl==1.9.2
zipp==3.20.2
zope.deprecation==5.0
zope.interface==6.1
zope.sqlalchemy==3.1
zstandard @ file:///croot/zstandard_1677013143055/work
